<h3>Random Great Quotes:</h3>
<hr/>
<div>
  <% Quote.where(id: Quote.pluck(:id).sample(5)).each do |quote| %>
    <p class="quote"><%= quote.quote %></p>
    <p class="source">~ <%= quote.source%></p>
    <hr/>  
  <% end %>

</div>