
<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>List of users to follow</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <% for @quote in @quotes %>    
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render "partials/display_quote" %>
        </div>
      </div> 
    <% end %>       
  </div>
  <div class="col-sm-3 ">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>List of most popular quotes</p>
      </div>
    </div>
  </div>
</div>
