
<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>List of users to follow</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <% for @quote in @quotes %>    
      <div class="panel panel-default">
        <div class="panel-body">
          <p><%= @quote.quote %></p>
          <p><%= @quote.source%></p>
          <p><%= link_to @quote.user.username, profile_path(@quote.user.username) %></p>
        </div>
      </div> 
    <% end %>       
  </div>
  <div class="col-sm-3 ">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>List of most popular quotes</p>
      </div>
    </div>
  </div>
</div>



<h1>Pages#discover</h1>
<p>Find me in app/views/pages/discover.html.erb</p>


