
<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render "partials/users_to_follow" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <% if @quotes.count == 0 %>
      <p>Not following</p>
    <% else %>
    <% for @quote in @quotes %>    
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render "partials/display_quote" %>
        </div>
      </div> 
    <% end %> 
    <% end %>      
  </div>
  <div class="col-sm-3 ">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render "partials/random_quotes" %>
      </div>
    </div>
  </div>
</div>
