<!-- https://v4-alpha.getbootstrap.com/components/card/#card-columns -->


<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>List of most active quotters</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>List of most popular quotes</p>
      </div>
    </div>    
  </div>
</div>


<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
