// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*display quote styles*/

.quote {
  font-style: italic;
}

.source {
  font-weight: bold;
}

.display-stats{
  color: grey;

}

/*index page styles*/

.welcome {

  background-color: #cedbef;
  width: 75%; 
  margin: auto;
  padding: 10px;
  border-radius: 10px;

  h2, div{
    text-align: center;
  }

  p {
    padding: 15px 5px;
  }
}
  
/*profile page styles*/

.favorite {

  padding: 25px;

  .quote {
    font-size: 1.25em;
  }

}



